{% load static %}

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Testimonials</h2>

    <div class="title-shape">
      <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor" stroke-width="2"></path>
      </svg>
    </div>

    <p>Perspectives shared by people who have worked with the consultant.</p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="testimonials-slider swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "slidesPerView": 1,
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "navigation": {
            "nextEl": ".swiper-button-next",
            "prevEl": ".swiper-button-prev"
          }
        }
      </script>

      <div class="swiper-wrapper">
        {% for testimonials in testimonials %}
        {% if testimonials.is_featured %}
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row">
                <div class="col-lg-8">
                  <h2>Consulting Feedback</h2>

                  <p>{{ testimonials.content }}</p>

                  <div class="profile d-flex align-items-center">
                    {% if testimonials.photo %}
                      <img src="{{ testimonials.photo.url }}" class="profile-img" alt="{{ testimonials.name }}" />
                    {% endif %}

                    <div class="profile-info">
                      <h3>{{ testimonials.name }}</h3>
                      {% if testimonials.position %}
                      <span>{{ testimonials.position }} in </span>
                      {% endif %}
                      <span>{{ testimonials.company }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="featured-img-wrapper">
                    {% if testimonials.photo %}
                      <img src="{{ testimonials.photo.url }}" class="featured-img" alt="{{ testimonials.name }}" />
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- End Testimonial Item -->
           {% endif %}
        {% endfor %}
      </div>

      <div class="swiper-navigation w-100 d-flex align-items-center justify-content-center">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonials Section -->
